* , *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: #343434;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container{
  display: flex;
  flex: 1;
}

header{
  line-height: 80px;
	background: #F6CEF5;
	text-align: center;
	margin: 0px;
}

nav{
  line-height: 80px;
	background: #81DAF5;
	text-align: center;
	margin: 0px;
  order: 3;
  flex: 1;
}

main{
  line-height: 80px;
	background: #F2F5A9;
	text-align: center;
	margin: 0px;
  order: 2;
  flex: 3;
}

aside{
  height: 100%;
  line-height: 80px;
	background: #81DAF5;
	text-align: center;
	margin: 0px;
  order: 1;
  flex: 1;
}

footer{
  line-height: 80px;
  background: #F6CEF5;
  text-align: center;
  margin: 0px;
}
